<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tabComponent</title>
	<style>
		.tab {margin: 10px;}
		.tab div { padding: 10px; width: 200px; height: 200px; border: 1px solid #ccc; display: none; }
		.tab > input { margin-bottom: -1px; width: 50px; height: 24px; line-height: 24px; border: 1px solid #ccc; border-bottom: none;}
		.active { background: #fff; outline: none; border-bottom: 1px solid #fff;}
	</style>
</head>
<script src="tab.js"></script>
<script>
	window.onload = function() {
		var t1 = new Tab('div1');
		var t2 = new Tab('div2');
		t1.init();
		t2.init();
	}

</script>
<body>
	<div class="tab" id="div1">
		<input class="active" type="button" value="111">
		<input type="button" value="222">
		<input type="button" value="333">
		<div style="display:block">1111</div>
		<div>2222</div>
		<div>3333</div>
	</div>
	<div class="tab" id="div2">
		<input class="active" type="button" value="aaa">
		<input type="button" value="bbb">
		<input type="button" value="ccc">
		<div style="display:block">aaa</div>
		<div>bbb</div>
		<div>ccc</div>
	</div>
</body>
</html>